@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .profileImageContainer {
        color: black;
        font-weight: 800;
        width: 75px;
        height: 75px;
    }
}